
$mainColor: #006666;
$subColor: #CC5500;

$mainSecondColor: #66B2B2;
$subSecondColor: #FA8004;

$mainColorBtn: #D7ECEC;
$subColorBtn: #FFE0CA;

$mainBasicColor: #000000;
$subBasicColor: #fff;

$activeLink: #006666;



