@import "./colors.scss";

.imgMain{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.centerMain{
    display:flex;
    height:80vh;
    justify-content:center;
    flex-direction:column;
}

.formMain{
    width: 90%;
    display: block;
    float: right;
}

.formPoint{
    color: $mainColor;
}

.formTransaction{
    color: $subColor;
}

// .spaceLine{
//     margin-bottom: 1rem;
// }

.inputMain{
    width: 85%;
    background-color: transparent;
    border-radius: 7px;  
}

.inputBorderAddPoint{
    border: 1px solid $mainColor;
}

.inputBorderCreateTransaction{
    border: 1px solid $subColor;
}

.textAreaMain{
    height: 120px;
}

.inputFileMain{
    width: 70%;
    background-color: transparent;
    border-radius: 7px;
    margin-left: 2rem;
}

.verticalSpaceMain{
    margin-bottom: 2rem;
}

.space{
    margin-top: 2rem;
}

.titleMain{
    margin-bottom: 5rem;
    text-align: center;
    text-transform: uppercase;
    color: $subBasicColor;
    width: 40%;
    padding: 1rem;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
}

.addPoint{
    background-color: $mainColor;
}

.createTransaction{
    background-color: $subColor;
}

.btnMain{
    width: 30%;
    padding: 1rem 0;
    border-radius: 8px;
    border: transparent;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 2rem;
    float: right;
}

.btnAddPoint{
    color: $mainColor;
    background-color: $mainColorBtn;
}

.btnCreateTransaction{
    color: $subColor;
    background-color: $subColorBtn;
}

.btnWidth{
    width: 90%;
}

.verticalLineMain{
    border-left: 2px solid $mainColor;
    height: 80%;
}

.account{
    margin-left: -5rem;
    margin-top: 4rem;
}

.borderAccount{
    border: 2px solid $mainColor;
    padding: 1rem;
    background-color: transparent;
}

.selected {
    border: none;
    background-color: $mainColorBtn;
    padding: 1rem;
}

.sameRow{
    display: flex;
    flex-direction: row;
}

.marginLeft{
    margin-left: 5rem;
}

.subContainer{
    color: $mainColor;
    margin: 4rem 2rem;
}

.iconSpace{
    margin-right: 2rem;
    margin-bottom: 2rem;
}

.textAboutUs{
    font-size: 17pt;
}

.IconBtn{
    background-color: transparent;
    border: transparent;
}

.ellipIcon{
    color: $mainColor;
    background-color: transparent;
}