@import "./colors.scss";
@import "./size.scss";

.container{
    margin: 1vh;
    font-family: 'Roboto', sans-serif;
}

.navbar{
    padding: 0.2rem;
}
  
.navList{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // float: right;
    padding-left: 2rem;
    padding-bottom: 2rem;
    align-items: baseline;
    font-weight: bold;
    width: 80%;
    margin-left: 18%;;
}

.colorList{
    color: #000000;
    text-decoration: none;
    font-size: $headerSize;
    padding: 6px 0px;
}

.activeLink, .colorList:hover{
    color: $activeLink;
    border-bottom: 3px solid $activeLink;  
}

.activeSubLink{
    color: $activeLink;
}

.navAccount{
    background-color: $mainBasicColor;
    width: 15%;
    border: transparent;
    text-align: center;
    

}
.accountIcon{
    width: 100%;
    color: $subBasicColor;
    background-color: $mainBasicColor;
    margin-left: auto;
    margin-right: auto;

    
}
.colorListAccount{
    color: #fff;
    text-decoration: none;
    font-size: $subSize;
}

.spaceLine{
    margin-top: 1.5rem;
    // margin
    
}

.dropdownAccount{
    width: '100%';
    color: 'white';
    background-color: black;
}

.activeLinkAccount, .colorListAccount:hover{
    color: $activeLink;
}

.logOutBtn{
    background-color: transparent;
    border: transparent;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
}

.logOutBtn:hover{
    color: $subColor
}


